extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_name)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="")

  link(rel="canonical", href=proj_url)
  script. 
    var matches = !{JSON.stringify(matches)};
block main 
  main
    table(id="table")
      caption Matches: 
        span
      thead
        th 
          div
            span(class="sort", data-sorting="", data-path="date") &#8249;
            input(type="text", data-path="date", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="hours") &#8249;
            input(type="text", data-path="hours", placeholder="Search") 
        th
          div
            span(class="sort", data-sorting="", data-path="P1,name") &#8249;
            input(type="text", data-path="P1,name", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="P1,rank") &#8249;
            input(type="text", data-path="P1,rank", placeholder="Search")
        th 
        th 
          div
            span(class="sort", data-sorting="", data-path="P2,name") &#8249;
            input(type="text", data-path="P2,name", placeholder="Search")
        th 
          div
            span(class="sort", data-sorting="", data-path="P2,rank") &#8249;
            input(type="text", data-path="P2,rank", placeholder="Search")
        th 
        th 
        th 
        th 
        th  
        th 
        th 
        th 
        th 
        th  
        th  
        th  
      thead
        th Date
        th Hours 
        th P1 Name 
        th P1 Rank 
        th P1 Range Rank 
        th P2 Name 
        th P2 Rank 
        th P2 Range Rank 
        th P1 Odds
        th P2 Odds
        th P1 Bet 
        th P1 Inv. 
        th P2 Bet 
        th Fav Correct Score
        th Type 
        th Surface 
        th Tournament 
        th Round 
        th  
      tbody 


