extends layout.pug

block append meta
  title #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_name)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="")

  link(rel="canonical", href=proj_url)

block main 
  main
    div(class="matches") 
      table
        thead
          tr
            th P1 
            th P2 
            th Bet 1
            th Bet 2
        tbody 
          each match in matches
            tr
              td #{match.P1}
              td #{match.P2}
              td #{match.P1_bet}
              td #{match.P2_bet}
    div(class="matches")
      ul
        each match in matches
          li 
            a(href=`/match/?id=${match.id}`) #{match.P1} vs. #{match.P2}
    div(class="matches")
        each match in matches
          div(class="match")
            h3 #{match.P1} vs. #{match.P2}
            div
              div #{match.P1} #{match.P1_bet}
              div #{match.P2} #{match.P2_bet}
              a(href=`/match/?id=${match.id}`) Details...