extends ../layout.pug

block append meta
  title #{match.id}
  meta(name="description" content="") 
  meta(name="keywords" content="")

block main 
  main
    h1 #{match.P1} vs. #{match.P2}
    a(href=match.url, title="Vai alla sorgente dei dati") #{match.url}
    div(class="data")
      div #{match.P1}: #{match.P1_bet}
      div #{match.P2}: #{match.P2_bet}
      h4 Over / Under 
      table
        thead
          tr
            th Total
            th Over
            th Under
        tbody 
          tr
            td #{match.OU_0.Total}
            td #{match.OU_0.Over}
            td #{match.OU_0.Under}
          tr
            td #{match.OU_1.Total}
            td #{match.OU_1.Over}
            td #{match.OU_1.Under}
      h4 Asian Handicap 
      table
        thead
          tr
            th #{match.P1}
            th #{match.P2}
            th Handicap
        tbody 
          tr
            td #{match.AH_0.p1AH}
            td #{match.AH_0.p2AH}
            td #{match.AH_0.Handicap}
      h4 Correct Score
      table
        thead
          tr
            th Result
            th Correct Score
        tbody 
          tr
            td #{match.CS_0.Result}
            td #{match.CS_0.CorrectScore}
          tr
            td #{match.CS_1.Result}
            td #{match.CS_1.CorrectScore}